software =
{
  version = "{{ os_version }}";
  {%- if name != "" %}
  name = "{{ name }}";
  {%- endif %}
  {#- No functional meaning. This is required by SWUpdate. #}
  hardware-compatibility: [ "{{ hw_compatibility }}" ];

  images: (
  {%- for image in images %}
    {
      filename = "{{ image.filename }}";
      type = "{{ image.type }}";
      device = "{{ image.device }}";
      {%- if image.compressed %}
      compressed = "{{ image.compressed }}";
      {%- endif %}
      filesystem = "{{ image.filesystem }}";
      properties: {
        subtype = "{{ image.subtype }}";
        {%- if image.properties %}
        {%- for key, value in image.properties.items() %}
        {{ key }} = "{{ value }}";
        {%- endfor %}
        {%- endif %}
      };
      {%- if image.encrypted %}
      encrypted = true;
      ivt = "{{ image.ivt }}";
      {%- endif %}
      sha256 = "{{ image.sha256 }}";
      {%- if image.include_installed_directly %}
      {#- Don't create temporal copy in /tmp not to consume memory #}
      installed-directly = true;
      {%- endif %}
    }
  {%- endfor %}
  );

  files: (
  {%- for file in files %}
    {
      filename = "{{ file.filename }}";
      path = "{{ file.path }}";
      type = "{{ file.type }}";
      device = "{{ file.device }}";
      {%- if file.compressed %}
      compressed = "{{ file.compressed }}";
      {%- endif %}
      filesystem = "{{ file.filesystem }}";
      properties: {
        subtype = "{{ file.subtype }}";
      };
      {%- if file.encrypted %}
      encrypted = true;
      ivt = "{{ file.ivt }}";
      {%- endif %}
      sha256 = "{{ file.sha256 }}";
      {%- if file.include_installed_directly %}
      {#- Don't create temporal copy in /tmp not to consume memory #}
      installed-directly = true;
      {%- endif %}
    }
  {%- endfor %}
  );
}
