<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Device List</h1>
        <h2>Device Information</h2>
        <table>
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Tag</th>
                    <th>OS Version</th>
                    <th>UKI Version</th>
                    <th>ROOTFS Version</th>
                </tr>
            </thead>
            <tbody>
                {% for device_id, device_info in devices.items() %}
                <tr>
                    <td><a href="/{{ device_id }}"><strong>{{ device_id }}</strong></a></td>
                    <td>{{ device_info.tag }}</td>
                    <td>{{ device_info.os_version }}</td>
                    <td>{{ device_info.uki_version }}</td>
                    <td>{{ device_info.rootfs_version }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Add a device</h2>
        <form id="form-container">
            <div class="input-container">
                <input type="text" id="device_id" name="device_id" placeholder="Device ID" required>
                <input type="text" id="os_version" name="os_version" placeholder="OS Version" required>
                <input type="text" id="uki_version" name="uki_version" placeholder="Kernel Version" required>
                <input type="text" id="rootfs_version" name="rootfs_version" placeholder="ROOTFS Version" required>
                <input type="text" id="group" name="group" placeholder="group" required>
            </div>
            <button type="submit" id="add_device">Add</button>
        </form>
        <br>
        <a href="/">Back to Home</a>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const response = await fetch(`/device`, {
                method: 'POST',
                body: formData
            });
            const data = await response.json();
            if (data.error) {
                document.getElementById('status').innerText = `Error: ${data.error}`;
            } else {
                const deviceId = formData.get('device_id');
                window.location.href = `/${deviceId}`;
            }
        });
    </script>
</body>
</html>
