<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <div class="title-container">
            <div id="status_box" class="status-indicator">⚪</div>
            <div id="last_updated_box" class="last-updated">YYYY-MM-DD HH:MM</div>    
            <button class="delete-button" id="delete-button">Delete</button>
        </div>
        <h1>{{ device_id }}</h1>
        <div class="block">
            <h2>Device Information</h2>
            <div class="device-info" id="device-info">
                <h3>OS: <span id="os_version_box">x.x.x</span></h3>
                <div class="version-box">
                    <div class="sub-version">
                        <div class="version-item">
                            <div class="label">UKI:</div>
                            <div id="uki_version_box">x.x.x</div>
                        </div>
                        <div class="version-item">
                            <div class="label">Rootfs:</div>
                            <div id="rootfs_version_box">x.x.x</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <h2>Update Device</h2>

            <form id="form-container" style="display: none;">
                <div class="input-container">
                    <input type="text" id="os_version" name="os_version" placeholder="OS Version" required>
                    <input type="text" id="uki_version" name="uki_version" placeholder="Kernel Version" required>
                    <input type="text" id="rootfs_version" name="rootfs_version" placeholder="ROOTFS Version" required>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="rdiff" name="rdiff" value="true">
                    <label for="rdiff" class="checkbox-label">delta</label>
                </div>
                <button type="submit">Start Task</button>
            </form>

            <div id="current-job-container" style="display: none;">
                <div id="status" class="status-container">
                    <div class="status-item"><strong>State:</strong> <div id="state" class="status-value"></div></div>
                    <div class="status-item"><strong>Job ID:</strong> <div id="job_id" class="status-value"></div></div>
                    <div class="status-item"><strong>Modified Time:</strong> <div id="mtime" class="status-value"></div></div>
                </div>
            </div>
        </div>
        <div class="block">
            <h2>Job Log</h2>
            <div id="job-log-container" style="display: none;">
                <template id="job-log-template">
                    <tr class="job-log">
                        <td class="job-id"></td>
                        <td class="job-state"></td>
                        <td class="job-mtime"></td>
                    </tr>
                </template>
                <table id="job-log-table">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>State</th>
                            <th>Modified Time</th>
                        </tr>
                    </thead>
                    <tbody id="job-log-body">
                    </tbody>
                </table>
            </div>
        </div>
        <a href="/">Back to Home</a>
    </div>
    <script>
        async function checkStatus(deviceId, taskId) {
            const response = await fetch(`/task/${taskId}/status`);
            if (!response.ok) {
                document.getElementById('current-job-container').innerHTML = `<p class="error">Error: Failed to fetch task status (status: ${response.status})</p>`;
                return;
            }
            const data = await response.json();
            if (data.state === 'PENDING') {
                fetchJobInfo(deviceId);
            } else {
                document.getElementById('current-job-container').innerHTML = '';
            }
            if (data.state !== 'SUCCESS' && data.state !== 'FAILURE') {
                setTimeout(() => checkStatus(deviceId, taskId), 10000);
            } else {
                document.getElementById('form-container').style.display = 'flex';
            }
        }

        async function fetchJobInfo(deviceId) {
            const response = await fetch(`/${deviceId}/job?group=OPEN`);
            if (!response.ok) {
                document.getElementById('status').innerHTML = `<p class="error">Error: Failed to fetch job info (status: ${response.status})</p>`;
                return;
            }
            const data = await response.json();
            if (data.length > 0) {
                const job = data[0];
                document.getElementById('state').textContent = job.state;
                document.getElementById('job_id').textContent = job.job_id;
                document.getElementById('mtime').textContent = job.mtime;
                document.getElementById('current-job-container').style.display = 'block';
            }
        }

        async function fetchJobLog(deviceId) {
            const response = await fetch(`/${deviceId}/job?group=CLOSED`);
            if (!response.ok) {
                document.getElementById('job-log-container').innerHTML = `<p class="error">Error: Failed to fetch job log (status: ${response.status})</p>`;
                return;
            }
            const data = await response.json();

            const jobLogBody = document.getElementById('job-log-body');
            const template = document.getElementById('job-log-template').content;

            jobLogBody.innerHTML = '';

            data.forEach(job => {
                const clone = document.importNode(template, true);
                clone.querySelector('.job-id').textContent = job.job_id;
                clone.querySelector('.job-mtime').textContent = job.mtime;
                clone.querySelector('.job-state').textContent = job.state;
                jobLogBody.appendChild(clone);
            });

            document.getElementById('job-log-container').style.display = 'block';
        }

        async function fetchDeviceInfo(deviceId) {
            const response = await fetch(`/${deviceId}/info`);
            if (!response.ok) {
                const deviceInfoDiv = document.getElementById('device-info');
                deviceInfoDiv.innerHTML = `<p class="error"><strong>Error:</strong> Failed to fetch device info (status: ${response.status})</p>`;
                return;
            }
            const data = await response.json();
            document.getElementById('os_version_box').textContent = data.os;
            document.getElementById('uki_version_box').textContent = data.uki;
            document.getElementById('rootfs_version_box').textContent = data.rootfs;
        }

        async function fetchDeviceStatus(deviceId) {
            while (true) {
                try {
                    const response = await fetch(`/${deviceId}/info`);
                    if (!response.ok) {
                        const deviceStatusDiv = document.getElementById('device-status');
                        deviceStatusDiv.innerHTML = `<p class="error"><strong>Error:</strong> Failed to fetch device status (status: ${response.status})</p>`;
                        return;
                    }
                    const data = await response.json();
                    console.log(data);
        
                    const statusBox = document.getElementById('status_box');
                    const lastModificationBox = document.getElementById('last_updated_box');
        
                    if (statusBox && lastModificationBox) {
                        // Update status color
                        switch (data.status) {
                            case 0:
                                statusBox.textContent = '🟢';
                                break;
                            case 1:
                                statusBox.textContent = '🔴';
                                break;
                            case 9:
                                statusBox.textContent = '🟡';
                                break;
                            default:
                                statusBox.textContent = '⚪';
                                break;
                        }
                        // Update last modification
                        console.log(data)
                        const date = new Date(data.last_updated);
                        const formattedDate = `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')} ${String(date.getHours()).padStart(2, '0')}:${String(date.getMinutes()).padStart(2, '0')}`;
                        lastModificationBox.textContent = formattedDate;
                    } else {
                        console.error('Error: Required elements not found in the DOM.');
                    }
                } catch (error) {
                    console.error('Error fetching device status:', error);
                }
        
                // Wait for a specified interval before fetching again
                await new Promise(resolve => setTimeout(resolve, 50000)); // 5 seconds interval
            }
        }

        async function checkRunningTask(deviceId) {
            const response = await fetch(`/${deviceId}/taskid`);
            if (!response.ok) {
                return;
            }
            const data = await response.json();
            if (data.task_id) {
                document.getElementById('form-container').style.display = 'none';
                checkStatus(deviceId, data.task_id);
            } else {
                document.getElementById('current-job-container').style.display = 'none';
                document.getElementById('form-container').style.display = 'flex';
            }
        }

        const deviceId = window.location.pathname.split('/').pop();
        fetchDeviceInfo(deviceId);
        checkRunningTask(deviceId);
        fetchJobLog(deviceId);
        fetchDeviceStatus(deviceId);

        document.querySelector('form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const deviceId = window.location.pathname.split('/').pop();
            formData.append('device_id', deviceId);
            const response = await fetch('/start_task', {
                method: 'POST',
                body: formData
            });
            const data = await response.json();
            if (data.error) {
                document.getElementById('status').innerText = `Error: ${data.error}`;
            } else {
                document.getElementById('form-container').style.display = 'none';
                fetchJobLog(deviceId);
                checkStatus(deviceId, data.task_id);
            }
        });

        document.getElementById('delete-button').addEventListener('click', async () => {
            const deviceId = window.location.pathname.split('/').pop();
            const confirmation = confirm('Are you sure you want to delete this device?');
            if (confirmation) {
                const response = await fetch(`/${deviceId}`, {
                    method: 'DELETE'
                });
                if (response.ok) {
                    window.location.href = '/devices';
                } else {
                    alert('Failed to delete device');
                }
            }
        });
    </script>
</body>
</html>
