<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Device Manager (demo)</h1>
        <h2>Device Information</h2>
        <table>
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Tag</th>
                    <th>OS Version</th>
                    <th>UKI Version</th>
                    <th>ROOTFS Version</th>
                </tr>
            </thead>
            <tbody>
                {% for device_id, device_info in devices.items() %}
                <tr>
                    <td><a href="/{{ device_id }}"><strong>{{ device_id }}</strong></a></td>
                    <td>{{ device_info.tag }}</td>
                    <td>{{ device_info.os_version }}</td>
                    <td>{{ device_info.uki_version }}</td>
                    <td>{{ device_info.rootfs_version }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/devices">Device List</a>
        <h2>Files</h2>
        {% for in_or_ex, files_in_or_ex in (("Internal-Server", files), ("External-Server", files_ex)) %}
        <h3>{{ in_or_ex }}</h3>
        {% for file, value in files_in_or_ex.items() %}
        <h4>{{file}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Hash Value</th>
                </tr>
            </thead>
            <tbody>
                {% for version, hash in value.items() %}
                <tr>
                    <td><strong>{{ version }}</strong></td>
                    <td class="hash-value">{{ hash }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
        {% endfor %}
    </div>
    <script>
    </script>
</body>
</html>
