// Variables
$primary-color: #f68d1f;
$accent-color: #15335b;
$error-color: #e74c3c;
$background-color: #15335b;
$box-background-color: white;
$text-color: #2c3e50;
$font-family: 'Arial, sans-serif';

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Global Styles
body {
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #444;
}

h2 {
  color: $primary-color;
}

.block {
  margin-bottom: 20px;
}


.device-info {
  padding: 20px;
  background-color: $box-background-color;
  border: 1px solid $accent-color;
  border-radius: 0px;
  margin-bottom: 20px;
}

.device-info h3 {
  color: $primary-color;
  margin-bottom: 10px;
  margin-top: 0;
}

.version-box {
  padding: 10px;
  background-color: $box-background-color;
  border: 1px solid $accent-color;
  border-radius: 0px;
}

.sub-version {
  margin-left: 10px;
}

.version-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.version-item .label {
  width: 80px;
  font-weight: bold;
  color: $accent-color;
}

.version-item div {
  font-weight: bold;
}

// New styles for the delete button and title container
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-updated {
  margin-top: 1.5px;
  margin-left: 7px;
}

.delete-button {
  background-color: $box-background-color;
  color: black;
  border: 1px solid $accent-color;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
}

.delete-button:hover {
  background-color: $error-color;
  color: $box-background-color;
}


form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-right: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid $accent-color;
  border-radius: 4px;
  width: auto;
  transition: border-color 0.3s;

  &:focus {
    border: 2px solid $primary-color;
    outline: none;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  border: 1px solid $accent-color;
  border-radius: 4px;
  padding: 5px;
  gap: 10px;
  height: 16px;
  padding: 10px;
}

.checkbox-label {
  margin-left: 5px;
}

button {
  padding: 10px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 250px;
  margin-left: auto;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.loading,
.status,
.job-log {
  margin-top: 20px;
}

.error {
  color: $error-color;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: $box-background-color;
  border: 1px solid $accent-color;
  border-radius: 4px;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid $accent-color;
  padding: 8px;
}

th {
  text-align: left;
  color: $accent-color;
}

td {
  background-color: $box-background-color;
  color: $text-color;
}

.hash-value {
  font-family: monospace;
  font-size: 1.2em;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.status-item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.status-item strong {
  width: 150px;
}

.status-value {
  flex: 1;
}
